@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.Container {
    font-family: "Raleway", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.Header {
  margin: 1rem;
}

.Header h1 {
    margin-top: 0;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0.2rem;
}

.Header hr {
    width: 50%;
    transform: translateX(-50%);
    height: 0.125rem;
    background-color: #c94277;
    border-radius: 0.125rem;
    border: none;
    margin-top: 0;
    
}

.Header h2 {
    margin-top: 0.2rem;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0rem;
    margin-left: 0.1rem;

}

.QuestionContainer {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.Question p {
    font-weight: 500;
    font-size: 1rem;
    margin: 1rem;
    margin-top: 0; 
    margin-bottom: 0.3rem;
    width: calc(100% - 3.02rem) !important;
    border: 0.01rem solid black;
    padding: 0.5rem;
}

.Response {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.ResponseEntry {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    flex: 1 1 auto;
    width: calc(100% - 1.95rem);
    margin: 1rem;
    margin-top: 0;
    border: 0.01rem solid black;
    padding: 0.5rem;
    resize: none;
    box-sizing: border-box;
    transition: height 0.2s;
}

.ResponseEntry.shrink {
    height: auto;
    min-height: 0rem; /* or whatever minimum you want */
    flex: none;   }

textarea:focus {
  outline: none;
}

.SubmitContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 4.5rem;
}

.Submit {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    margin: 1rem;
    margin-top: 0.25rem;
    width: 5rem;
    height: 2.5rem;
    border-radius: 2.5rem;
    border: none;
    align-self: flex-end;
    background-color: #c94277;
    color: #ffffff;
    cursor: pointer;
    transition: transform .2s;
}

.Submit:hover {
    transform: scale(1.05);
}